<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <button @click="isShow = !isShow">changeShow</button>
        <button @click="title=['天才','大佬','打游戏撸码的咸鱼'][Math.random()*3|0]">changeTitle</button>
        <template v-if="hasError">
            发生错误了
        </template>
        <template v-else>
            <gqf-component v-if="isShow" :title="title"></gqf-component>
        </template>
    </div>
    <script src="../js/vue.js"></script>
    <script>
        let app = new Vue({
            el: "#app",
            components: {
                "gqf-component": {
                    props: ["title"],
                    template: `<div>{{title.a.b.c}}</div>`,
                    beforeCreate(){
                        console.log("gqf-component - beforeCreate", this.$data, this.$el)
                    },
                    created(){
                        console.log("gqf-component - created", this.$data, this.$el)
                    },
                    beforeMount(){
                        console.log("gqf-component - beforeMount", this.$data, this.$el)
                    },
                    mounted(){
                        console.log("gqf-component - mounted", this.$data, this.$el)
                    },
                    beforeUpdate(){
                        console.log("gqf-component - beforeUpdate")
                    },
                    updated(){
                        console.log("gqf-component - updated")
                    },
                    beforeDestroy(){
                        console.log("gqf-component - beforeDestroy")
                    },
                    destroyed(){
                        console.log("gqf-component - destroyed")
                    },
                }
            },
            data: {
                isShow: true,
                title: "我是梅利奥猪猪",
                hasError: false,
            },
            beforeCreate(){
                console.log("beforeCreate", this.$data, this.$el)
            },
            created(){
                console.log("created", this.$data, this.$el)
            },
            beforeMount(){
                console.log("beforeMount", this.$data, this.$el)
            },
            mounted(){
                console.log("mounted", this.$data, this.$el)
            },
            beforeUpdate(){
                console.log("beforeUpdate")
            },
            updated(){
                console.log("updated")
            },
            beforeDestroy(){
                console.log("beforeDestroy")
            },
            destroyed(){
                console.log("destroyed")
            },
            errorCaptured(err, vm, info){
                console.log("errorCaptured", err, vm, info);
                this.hasError = true;
                return false;
            }
        })
    </script>
</body>
</html> 