<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue-todolist</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <div id="todoapp">
        <todo-header @add="addTodo"></todo-header>
        <todo-body :todos="todos" @delete="deleteTodo"></todo-body>
        <todo-footer></todo-footer>
    </div>
    <script src="./js/vue.js"></script>
    <script>
        let app = new Vue({
            el: '#todoapp',
            data: {
                todos: [],
            },
            provide(){
                return {
                    'app': this
                }
            },
            components: {
                "todo-header": {
                    template: `
                        <header>
                            <h1>Todos</h1>
                            <input 
                                id="new-todo" 
                                type="text" 
                                placeholder="What needs to be done?" 
                                v-model="todo" 
                                @keyup.enter="addTodo"
                            />
                        </header>            
                    `,
                    data(){
                        return {
                            todo: ''
                        }
                    },
                    methods: {
                        addTodo(){
                            // console.log(this.todo);
                            if(!this.todo.trim().length){
                                alert("请输入内容")
                            }else{
                                this.$emit("add", this.todo);
                                this.todo = "";
                            }
                        }
                    }                      
                },
                "todo-body": {
                    props: ["todos"],
                    template: `
                                <section id="main" style="display: block;">
                                    <input id="toggle-all" type="checkbox" checked="">
                                    <label for="toggle-all">Mark all as complete</label>
                                    <ul id="todo-list">
                                        <todo-item v-for="todo in todos" :key="todo.id" :todo="todo"></todo-item>
                                    </ul>
                                </section>            
                            `,
                    components: {
                        "todo-item": {
                            inject: ['app'],
                            props: ["todo"],
                            template: `
                                        <li :class="{'done': todo.completed}">
                                            <div class="view" style="display: block;">
                                                <input class="toggle" type="checkbox" v-model="todo.completed">
                                                <label>{{todo.val}}</label><a class="destroy" @click="deleteTodo"></a>
                                            </div>
                                            <input class="edit" type="text" value="213213" style="display: none;">
                                        </li>                    
                                    `,
                            methods: {
                                deleteTodo(){
                                    this.app.deleteTodo(this.todo.id);
                                }
                            }        
                        }
                    }                      
                },
                "todo-footer": {
                    template: `
                        <footer style="display: block;">
                            <a id="clear-completed" style="display: none;">
                                Clear 0 completed item
                            </a>
                            <div id="todo-count">10 items left</div>
                        </footer>            
                    `                    
                },
            },
            methods: {
                addTodo(val){
                    // console.log(val)
                    this.todos.push({
                        id: Date.now(),
                        val,
                        completed: false,
                    })
                    // console.log(this.todos);
                },
                deleteTodo(id){
                    this.todos = this.todos.filter(todo => todo.id != id);
                }
            }
        })
    </script>
</body>
</html>