<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue - todolist</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <div id="todoapp">
        <todo-header></todo-header>
        <todo-body :todos="todos"></todo-body>
        <todo-footer :todos="todos"></todo-footer>
    </div>
    <script src="./js/vue.js"></script>
    <script>
        const app = new Vue({
            el: "#todoapp",
            data: {
                todos: []
            },
            methods: {
                addTodo(val){
                    this.todos.push({
                        id: Date.now(),
                        val,
                        completed: false,
                    })
                    // console.log(this.todos);
                },
                deleteTodo(id){
                    this.todos = this.todos.filter(todo => todo.id !== id);
                },
                deleteCompleted(){
                    this.todos = this.todos.filter(todo => !todo.completed);
                },
                changeCheckedAll(val){
                    this.todos.forEach(todo => todo.completed = val);
                }
            },
            provide(){
                return {
                    "app": this
                }
            },
            components: {
                "todo-header": {
                    template: `
                        <header>
                            <h1>Todos</h1>
                            <input 
                                id="new-todo" 
                                type="text" 
                                placeholder="What needs to be done?" 
                                v-model="todo"
                                @keyup.enter="addTodo"
                            />
                        </header>                     
                    `,
                    inject: ["app"],
                    data(){
                        return {
                            todo: ""
                        }
                    },
                    methods: {
                        addTodo(){
                            if(!this.todo.trim().length){
                                alert("输入点内容吧");
                                return;
                            }
                            this.app.addTodo(this.todo);
                            this.todo = "";
                        },
                    }
                },
                "todo-body": {
                    inject: ["app"],
                    props: ["todos"],
                    template: `
                        <section id="main" style="display: block;">
                            <input 
                                id="toggle-all" 
                                type="checkbox" 
                                v-model="checkedAll" 
                                v-show="todos.length" 
                            />
                            <label for="toggle-all">Mark all as complete</label>
                            <ul id="todo-list">
                                <todo-item
                                    v-for="todo in todos"
                                    :key="todo.id"
                                    :todo="todo"
                                ></todo-item>
                            </ul>
                        </section>                    
                    `,
                    computed: {
                        checkedAll: {
                            get(){
                                if(!this.todos.length) return false;
                                return this.todos.every(todo => todo.completed);
                            },
                            set(val){
                                this.app.changeCheckedAll(val);
                            }
                        }
                    },
                    components: {
                        "todo-item": {
                            inject: ["app"],
                            props: ["todo"],
                            data(){
                                return {
                                    canEdit: false,
                                    timer: 0
                                }
                            },
                            template: `
                                <li :class="{'done': todo.completed}">
                                    <div class="view" :style="{display: canEdit ? 'none' : 'block'}" >
                                        <input 
                                            class="toggle"
                                            type="checkbox"
                                            v-model="todo.completed"
                                        />
                                        <label @dblclick="canEdit=true">{{todo.val}}</label>
                                        <a class="destroy" @click="deleteTodo"></a>
                                    </div>
                                    <input
                                        class="edit" 
                                        type="text" 
                                        v-model="todo.val"
                                        :style="{display: canEdit ? 'block' : 'none'}" 
                                        @blur="canEdit=false"
                                        ref="editInput"
                                    />
                                </li>                            
                            `,
                            methods: {
                                deleteTodo(){
                                    // console.log("delete")
                                    this.app.deleteTodo(this.todo.id);
                                }
                            },
                            watch: {
                                canEdit(flag){
                                    const editInput = this.$refs.editInput;
                                    if(flag){
                                        this.timer = setTimeout(() => {
                                            editInput.select();
                                        })
                                    }else{
                                        clearTimeout(this.timer);
                                        if(!editInput.value.trim().length){
                                            this.canEdit = true;
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "todo-footer": {
                    inject: ["app"],
                    props: ["todos"],
                    template: `
                        <footer :style="{display: todos.length ? 'block' : 'none'}">
                            <a 
                                id="clear-completed" 
                                :style="{display: completedTodos.length ? 'block' : 'none'}"
                                @click="deleteCompleted"
                            >
                                Clear {{completedTodos.length}} completed item
                            </a>
                            <div id="todo-count">{{uncompletedTodos.length}} items left</div>
                        </footer>                    
                    `,
                    computed: {
                        completedTodos(){
                            return this.todos.filter(todo => todo.completed)
                        },
                        uncompletedTodos(){
                            return this.todos.filter(todo => !todo.completed)
                        }
                    },
                    methods: {
                        deleteCompleted(){
                            // console.log(this.app.deleteCompleted);
                            this.app.deleteCompleted();
                        }
                    }
                }
            }
        })
    </script>
</body>
</html>